<div class="mainpage">
	<div class="pagewrap aboutbg">
        <h1>关于我们</h1>   
    </div>
	<div class="gallery moblipadding">
		<ul class="photos clearfix">
			<li><div class="photoitem"><img src="/images/about01.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>白洋淀</span></div><span class="phototitle">白洋淀团建</span></div></li>
			<li><div class="photoitem"><img src="/images/about02.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>华夏幸福创新中心</span></div><span class="phototitle">企业税收筹划业务培训活动</span></div></li>
			<li><div class="photoitem"><img src="/images/about03.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>微软亚太二号楼</span></div><span class="phototitle">入驻微软加速器</span></div></li>
			<li><div class="photoitem"><img src="/images/about04.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>微软亚太二号楼</span></div><span class="phototitle">圣诞活动</span></div></li>
			<li><div class="photoitem"><img src="/images/about05.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>海淀体育馆</span></div><span class="phototitle">羽毛球赛</span></div></li>
			<li><div class="photoitem"><img src="/images/about06.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>中关村国际创新大厦</span></div><span class="phototitle">罗格新家</span></div></li>
			<li><div class="photoitem"><img src="/images/about07.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>北京千禧酒店</span></div><span class="phototitle">Oracle开发者大会</span></div></li>
			<li><div class="photoitem"><img src="/images/about08.png" alt=""><div class="photoplace"><i class="place-icon"></i><span>中关村</span></div><span class="phototitle">中关村创新创业季</span></div></li>
		</ul>
	</div>
	<div class="worth aboutpart">
		<h2 class="logosvalue-txt">罗格价值观</h2>
		<ul class="worthlist clearfix">
			<li>
				<div class="worthicon goodatwork">善为</div>
				<p>Treat like to be treated</p>
			</li>
			<li>
				<div class="worthicon cooperation">协作</div>
				<p>Together Everyone to Achieve More</p>
			</li>
			<li>
				<div class="worthicon profession">专业</div>
				<p>Technical Expert</p>
			</li>
			<li>
				<div class="worthicon hardwork">勤奋</div>
				<p>Try to be more diligent</p>
			</li>
		</ul>
	</div>
	<div id="history" class="history aboutpart">
		<h2 class="growup-txt">发展历程</h2>
		<div class="history-cont moblipadding">
			<div class="section">
                <span class="point-year"></span>
                <p class="year-text ml50">2017</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年8月3日</p>
                <p class="cont-text ml50">罗格数据在oracle数据库云技术大会中正式发布基于混合云的税务大数据询证解决方案</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年7月12日</p>
                <p class="cont-text ml50">罗格数据入驻2017年度中关村第二批前沿企业</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年7月4日</p>
                <p class="cont-text ml50">罗格金融大数据云服务平台在宁夏正式开通并向部分金融客户提供服务</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年6月30日</p>
                <p class="cont-text ml50">华夏幸福沙龙活动</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年6月28日</p>
                <p class="cont-text ml50">罗格金融大数据云服务平台通过信息安全三级等级保护测评</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年6月12日</p>
                <p class="cont-text ml50">罗格数据迁入新办公地海淀区中关村国际创新大厦</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年4月17、18日</p>
                <p class="cont-text ml50">参加“英诺天使基金”4周年年会“创4纪·正青春—2017英诺创新者大会”在北京隆重举办（中国·北京）</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年2月27日</p>
                <p class="cont-text ml50">中山罗格数据科技有限公司第一次股东会北京海淀区中关村鼎好大厦8楼103会议室</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2017年1月12日</p>
                <p class="cont-text ml50">微软加速器·北京第八期Demo Day，新公司logo启用。 （中国·北京）</p>
            </div>
            <div class="section">
                <span class="point-year"></span>
                <p class="year-text ml50">2016</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2016年10月</p>
                <p class="cont-text ml50">广东中山罗格数据科技有限公司正式成立。同时，北京罗格数据科技有限公司成功获得天使轮融资，开始步入快速发展阶段。</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2016年8月8日</p>
                <p class="cont-text ml50">北京罗格数据科技有限公司经过层层选拔，成功入驻微软加速器，成为微软加速器第八期校友企业。</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2016年4月</p>
                <p class="cont-text ml50">北京罗格数据科技有限公司成功签约第一个客户，正式为客户提供专业化、专门化的大数据服务。</p>
            </div>
            <div class="section">
                <span class="point-year"></span>
                <p class="year-text ml50">2015</p>
            </div>
            <div class="section">
                <span class="point-time"></span>
                <p class="time-text ml50">2015年11月5日</p>
                <p class="cont-text ml50">北京罗格数据科技有限公司正式成立。</p>
            </div>
        </div>
	</div>
	<div class="contactus aboutpart">
		<h2 class="contact-txt">联系我们</h2>
		<div class="contact-cont clearfix moblipadding">
            <div class="contactway fl halfwidth">
                <div class="clearfix">
                    <div class="fl left">
                        <p>电话：</p>
                        <p>邮箱：</p>
                        <p>地址：</p>
                    </div>
                    <div class="fl right">
                        <p>010-62416380</p>
                        <p>contact@logosdata.com</p>
                        <p>北京市海淀区北四环西路67号中关村国际创新大厦301室</p>
                    </div>
                </div>
                <img src="/images/qrcode.jpg" alt="">
                <img src="/images/qrcode.jpg" alt="">
            </div>
            <div id="contactmap" class="fl halfwidth"></div>
		</div>
	</div>
</div>