<div class="mainpage">
    <div class="section">
        <video loop autoplay>
            <source src="video/video.mp4"> 您的浏览器不支持此属性！请升级浏览器...
        </video>
        <div class="videoimg">
            <img src="/images/videophoto.png" alt="">
        </div>
        <div class="videolayer">
            <div class="videotitle">
                <h1>以价值服务客户业务转型</h1>
                <h1>用创新驱动先进决策管理</h1>
                <p>“互联网+税收大数据”的领跑者</p>
            </div>
        </div>
        <img class="index-arrow" src="/images/index-arrow.png" alt="">
    </div>
    <div class="aboutpart">
        <h2>解决方案介绍</h2>
        <div class="valuelist valuepc">
            <div class="valueitem clearfix">
                <div class="fl"><img src="/images/yucefenxi.png" alt=""></div>
                <div class="valuedescription fl ml114">
                    <p class="valuetitle">预测分析</p>
                    <p class="valuecontent">基于业务场景的税收大数据进行专业预测分析建模，通过预测模型为政府提供区域经济管理、产业结构升级转型等决策建议；为金融机构提供研判经济走向、投资策略的研究型服务产品；为企业客户提供分析市场趋势、创新产品服务的更为智慧的决策支持。</p>
                </div>
            </div>
            <div class="valueitem clearfix">
                <div class="valuedescription fl">
                    <p class="valuetitle">决策管理</p>
                    <p class="valuecontent">通过认知计算和循证方法，在专有分析模型和用户定义策略的基础上进行量化建模，实现决策管理的可视化、自动化和智能化，帮助税务机关构建税源管理和纳税服务的精准决策模式；帮助金融机构根据客户生命周期和动态风险精确配置金融服务资源。</p>
                </div>
                <div class="fl ml114"><img src="/images/jueceguanli.png" alt=""></div>
            </div>
            <div class="valueitem clearfix">
                <div class="fl"><img src="/images/fengxianguanli.png" alt=""></div>
                <div class="valuedescription fl ml114">
                    <p class="valuetitle">风险管理</p>
                    <p class="valuecontent">通过线上、线下融合的方式对税收大数据进行风险量化建模，全方位洞察企业的经营风险、财务风险和税务风险，综合性地展示企业各个经营环节的成长性、成熟度、耐受力。帮助税务机关、金融机构、咨询机构实时了解企业涉税信用的动态变化，帮助企业提高信用管理能力。</p>
                </div>
            </div>
            <div class="valueitem clearfix">
                <div class="valuedescription fl">
                    <p class="valuetitle">大数据治理</p>
                    <p class="valuecontent">围绕数据生命周期，对应机制、能力、技术三个维度，实现公有云、私有云上大数据资产的统一规划和管理，帮助客户将税收大数据纳入核心数据资产实施全面管控，全方位保障大数据资产安全，逐步形成税收大数据治理的最佳实践。</p>
                </div>
                <div class="fl ml114"><img src="/images/dashujuzhili.png" alt=""></div>
            </div>
        </div>
        <div class="valuelist valuemobie">
            <div class="valueitem">
                <div class="center"><img src="/images/yucefenxi.png" alt=""></div>
                <div class="valuedescription">
                    <p class="valuetitle">预测分析</p>
                    <p class="valuecontent">基于业务场景的税收大数据进行专业预测分析建模，通过预测模型为政府提供区域经济管理、产业结构升级转型等决策建议；为金融机构提供研判经济走向、投资策略的研究型服务产品；为企业客户提供分析市场趋势、创新产品服务的更为智慧的决策支持。</p>
                </div>
            </div>
            <div class="valueitem">
                <div class="center"><img src="/images/jueceguanli.png" alt=""></div>
                <div class="valuedescription">
                    <p class="valuetitle">决策管理</p>
                    <p class="valuecontent">通过认知计算和循证方法，在专有分析模型和用户定义策略的基础上进行量化建模，实现决策管理的可视化、自动化和智能化，帮助税务机关构建税源管理和纳税服务的精准决策模式；帮助金融机构根据客户生命周期和动态风险精确配置金融服务资源。</p>
                </div>
            </div>
            <div class="valueitem">
                <div class="center"><img src="/images/fengxianguanli.png" alt=""></div>
                <div class="valuedescription">
                    <p class="valuetitle">风险管理</p>
                    <p class="valuecontent">通过线上、线下融合的方式对税收大数据进行风险量化建模，全方位洞察企业的经营风险、财务风险和税务风险，综合性地展示企业各个经营环节的成长性、成熟度、耐受力。帮助税务机关、金融机构、咨询机构实时了解企业涉税信用的动态变化，帮助企业提高信用管理能力。</p>
                </div>
            </div>
            <div class="valueitem">
                <div class="center"><img src="/images/dashujuzhili.png" alt=""></div>
                <div class="valuedescription">
                    <p class="valuetitle">大数据治理</p>
                    <p class="valuecontent">围绕数据生命周期，对应机制、能力、技术三个维度，实现公有云、私有云上大数据资产的统一规划和管理，帮助客户将税收大数据纳入核心数据资产实施全面管控，全方位保障大数据资产安全，逐步形成税收大数据治理的最佳实践。</p>
                </div>
            </div>
        </div>
    </div>
</div>