<div class="mainpage">
    <div class="pagewrap observationbg">
    	<h1>罗格宏观观察</h1>
    </div>
    <ul class="linkspanel moblipadding">
		{{# each data.observations}}
		<li>
	        <div>
	        	<p>{{date createdAt}}</p>
                <a href="{{url}}" target="_blank">
                    {{{title}}}
                </a>
	        </div>
        </li>
        {{/each}}
        {{#isShowMore data.observations.length}}
        <li class="moreitem"><img src="/images/more.png" alt="">更多</li>
        {{/isShowMore}}
    </ul>
</div>