<div class="mainpage">
    <div class="pagewrap productbg">
    	<h1>产品与服务</h1>
    </div>
    <div id="productsys" class="aboutpart moblipadding">
    	<h2 class="product-txt">产品体系</h2>
    	<img class="mt150 maxwidth" src="/images/productsys.png" alt="">
    	<div id="platform" class="productblk animated animate-in">
    		<h3>平台端——税收大数据循证信息服务云平台（DaaS）</h3>
    		<p class="description">罗格数据税收大数据循证信息服务云平台通过公开数据和开放信息的采集交换、清洗整备、分类管理、标签加工、应用支撑等综合技术，为各类客户提供税收大数据循证信息服务。</p>
    		<ul class="daassign clearfix">
    			<li>
    				<div>
    					<img src="/images/xinxifuwu.png" alt="">
    					<label>信息服务</label>
    					<p class="sub-des">提供为各类客户量身定制的税收大数据信息服务。</p>
    				</div>
    			</li>
    			<li>
    				<div>
    					<img src="/images/zichanhuaguanli.png" alt="">
    					<label>资产化管理</label>
    					<p class="sub-des">提供将数据作为资产的集中管控，通过配套的数据治理组织机构、流程制度和支撑工具，形成数据覆盖范围广、质量高的大数据环境，为深度的数据分析、利用提供基础支撑。</p>
    				</div>
    			</li>
    			<li>
    				<div>
    					<img src="/images/shujucaiji.png" alt="">
    					<label>数据采集</label>
    					<p class="sub-des">通过智能爬虫和数据清洗技术实现对互联网涉税数据的自动采集、识别、归集、处理和应用。</p>
    				</div>
    			</li>
    			<li>
    				<div>
    					<img src="/images/biaoqianjiagong.png" alt="">
    					<label>标签加工</label>
    					<p class="sub-des">通过大数据技术搜集并整合企业基础信息、财务核算数据、生产经营数据、纳税申报数据、税务管理数据、第三方涉税数据，并依靠数据可视化技术进行直观的企业全景信息展现及基于标签的数据服务。</p>
    				</div>
    			</li>
    			<li>
    				<div>
    					<img src="/images/suanfaguanli.png" alt="">
    					<label>算法管理</label>
    					<p class="sub-des">基于税务大数据循证信息服务云平台，构建算法设计、训练、发布、交易的管理平台。</p>
    				</div>
    			</li>
    		</ul>
    	</div>
    	<div id="tax" class="productblk animated animate-in">
    		<h3>税务端——税收行业大数据循证信息服务（私有云）</h3>
    		<p class="description">罗格数据可以为各级税务部门提供基于预测分析和决策管理的大数据混合云平台和服务。以企业全息画像为核心，协助税务部门以跨界视角、关联视角、动态视角对企业纳税诚信进行综合动态评价，形成有效的关联关系网，防止之前由于跨界数据无法获得造成的信用评价机制的漏洞。</p>
    		<img class="mt74 maxwidth" src="/images/taxside.png" alt="">
    		<p class="description mt74">罗格数据提供了面向风险管控和决策管理的企业全息画像，涵盖了宏观分析、行业趋势、外部环境、财务状况、资产状况、纳税状况、综合评价等多个业务场景，可视化、全方位展示企业全景画像。该产品可提供给各级税务机关运用于大数据税源管理和纳税服务等决策管理业务场景，也可提供给各类金融机构运用于精准筛客和尽职调查的决策管理业务场景。<br /><br />主要特点：全面、精细化的多维标签；面向目标场景的全景画像；合法合规的跨界数据源；可视化的大数据动态展现；指标、算法、模型、统计、机器学习；全方位的权限管理和数据安全保障。</p>
    		<img class="mt74 maxwidth" src="/images/taxflow.png" alt="">
    	</div>
    	<div id="enterprise" class="productblk animated animate-in">
    		<h3>企业端——企业智慧税务管理（全税种税务风险监控） cRMIS</h3>
    		<p class="description">罗格数据运用税务大数据分析的业务、能力、模型、数据等方面的积累，协助企业建立内部统一的涉税管理平台，使企业日常税务管理工作更加规范和智能。平台功能覆盖《大企业税务风险管理指引（试行）》的税务管理要求，严格审查涉税大数据和上报报表的质量，降低企业纳税风险。同时，构建财务指标与税务指标之间的内在关系，围绕财务、税务数据建立企业涉税大数据平台，将财税指标可视化。平台还内置了全面的税收法规库、构建全面的纳税知识体系。</p>
    		<img class="mt74 maxwidth" src="/images/enterpriseside.png" alt="">
    	</div>
    	<div id="finance" class="productblk animated animate-in">
    		<h3>金融端——金融行业税收大数据循证信息服务服务（私有云）</h3>
    		<p class="description">以“银税互动”为切入点，罗格数据为银行、保险、证券等金融行业客户提供税收大数据价值服务场景，重点关注“创新”、“获客”、“风控”的需求，以“跨界”、“量化”、“循证”的方法，协助金融部门开展基于税收大数据的创新业务场景设计及其金融产品相关服务支持，实现高速增长、盈利和客户满意度提升。</p>
    		<img class="mt74 maxwidth" src="/images/financeside.png" alt="">
    	</div>
    	<div id="consult" class="productblk animated animate-in">
    		<h3>咨询端——基于税务大数据的新型专业咨询服务（罗格云脑）</h3>
    		<p class="description">罗格数据可为税务、会计、审计、管理等咨询机构提供税收大数据混合云平台和服务，帮助咨询机构实时了解客户的涉税信用动态变化，综合展示客户在各个经营环节的成长性、成熟度、耐受力，及时评估客户税务风险、财务风险、经营风险，帮助咨询机构根据客户需求精确配置咨询服务资源。</p>
    		<img class="mt74 maxwidth" src="/images/consultside.png" alt="">
    	</div>
    </div>
</div>
<div class="pronavipanel">
    <a class="productsyslink" href="#productsys"><div class="pronavi-btn">产品体系</div></a>
    <a class="platformlink" href="#platform"><div class="pronavi-btn">平台端</div></a>
    <a class="taxlink" href="#tax"><div class="pronavi-btn">税务端</div></a>
    <a class="enterpriselink" href="#enterprise"><div class="pronavi-btn">企业端</div></a>
    <a class="financeicon" href="#finance"><div class="pronavi-btn">金融端</div></a>
    <a class="consulticon" href="#consult"><div class="pronavi-btn">资讯端</div></a>
</div>